---
import { getRelativeLocaleUrl } from "astro:i18n";

const { language } = Astro.props;
const spanishPage = getRelativeLocaleUrl(language === "en" ? "es" : "en");
---

<div
  class="text-white relative flex flex-col items-center justify-center gap-2"
>
  <button
    id="dropdownDefaultButton"
    data-dropdown-toggle="dropdown"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-xl text-sm px-4 py-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    type="button"
  >
    {language === "en" ? "English" : "Español"}
    <svg
      class="w-2.5 h-2.5 ms-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 10 6"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 4 4 4-4"></path>
    </svg>
  </button>

  <!-- Dropdown menu -->
  <div
    id="dropdown"
    class="hidden z-10 bg-white divide-y divide-gray-100 rounded-xl shadow-sm w-auto dark:bg-gray-700 top-11"
  >
    <ul class="text-sm text-gray-700 dark:text-gray-200">
      <li>
        <a
          href={spanishPage}
          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white rounded-xl"
        >
          {language === "en" ? "Español" : "English"}
        </a>
      </li>
    </ul>
  </div>
</div>

<script>
  const languageSelector = document.getElementById(
    "dropdownDefaultButton"
  ) as HTMLButtonElement;
  const dropdownMenu = document.getElementById("dropdown") as HTMLDivElement;

  languageSelector.addEventListener("click", () => {
    dropdownMenu.classList.toggle("hidden");
    dropdownMenu.classList.toggle("absolute");
  });
</script>
